# Python dependencies
venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Model files
*.pkl
*.joblib

# Logs
*.log

backend/my_perfect_model/
*.safetensors
*.bin
